*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif
}
header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
ul{
    display:flex;
    list-style-type: none;

}

li a{
    padding:0px 20px;
    text-decoration: none;
    color:white;
    display:inline-block;
    margin-left: 20px;
}
.logo{
    margin-right: 100px;
}
.btn{
    height: 30px;
    width: 120px;
    margin-left: 10px;
    cursor: pointer;
    background-color: aquamarine;
}